
@{
    var sidemenu = ViewBag.sidemenu as IEnumerable<AspnetCoreLogging.Models.MenuModuleMapping_Core>;
}


@{
    <ul class="dropdown-menu" id="sidemenu">
        @foreach (var submenu in sidemenu)
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                @submenu.MenuName
                <span class="glyphicon glyphicon-chevron-right pull-right"> </span>
            </a>
        }
    </ul>
}